<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" >
<!-- Generated via Iro -->
<dict>
  <key>fileTypes</key>
  <array> 
    <string>l2</string>
    <string>lama2</string>
   </array>
  <key>name</key>
  <string>lama2</string>
  <key>patterns</key>
  <array> 
    <dict>
      <key>include</key>
      <string>#main</string>
    </dict>
   </array>
  <key>scopeName</key>
  <string>source.lama2</string>
  <key>uuid</key>
  <string></string>
  <key>repository</key>
  <dict>
    <key>main</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#emptyline</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#separator</string>
        </dict>
        <dict>
          <key>begin</key>
          <string>(^\s*(GET|POST|PUT|DELETE|get|post|put|delete))</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.lama2</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#root_lama</string>
            </dict>
           </array>
          <key>end</key>
          <string>(^---$)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>begin</key>
          <string>(^\s*#.*)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>comment.lama2</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#root_lama</string>
            </dict>
           </array>
          <key>end</key>
          <string>(^---$)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>begin</key>
          <string>(?!(^\s*(#|GET|POST|PUT|DELETE|get|post|put|delete)))</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>variable.lama2</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#root_javascript</string>
            </dict>
           </array>
          <key>end</key>
          <string>(^---$)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>emptyline</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(^\s*$)</string>
          <key>name</key>
          <string>none.lama2</string>
        </dict>
       </array>
    </dict>
    <key>files</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(.*)(@)([^\x{0023}]+)</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>constant.language.lama2</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
            <key>3</key>
            <dict>
              <key>name</key>
              <string>string.source.lama2</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>headers</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(.*)(:)([^\x{0023}]+)</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>constant.language.lama2</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
            <key>3</key>
            <dict>
              <key>name</key>
              <string>string.source.lama2</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>js_call</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(?:\b)(\.[_\x{0024}a-zA-Z\xa0-\x{ffff}][_\x{0024}a-zA-Z0-9\xa0-\x{ffff}]*)(\()</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>entity.name.function.lama2</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>js_comment</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(//.*$)</string>
          <key>name</key>
          <string>comment.lama2</string>
        </dict>
       </array>
    </dict>
    <key>js_keyword_control_flow</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(?:\b)(return|yield)(?:\b)</string>
          <key>name</key>
          <string>keyword.control.flow.lama2</string>
        </dict>
       </array>
    </dict>
    <key>js_keyword_new</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(?:\b)(?:do|if|in|for|let|new|try|var|case|else|enum|eval|false|null|this|true|void|with|break|catch|class|const|super|throw|while|yield|delete|export|import|public|return|static|switch|typeof|default|extends|finally|package|private|continue|debugger|function|arguments|interface|protected|implements|instanceof)(?:\b)</string>
          <key>name</key>
          <string>keyword.operator.new.lama2</string>
        </dict>
       </array>
    </dict>
    <key>js_keywords</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#separator</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#multi_line_comment</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#js_comment</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#js_string3</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#js_string1</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#js_string2</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#js_punctuation</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#js_call</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#js_keyword_new</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#js_storage_type</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#js_keyword_control_flow</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#js_variable</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#js_operator</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#numeric</string>
        </dict>
       </array>
    </dict>
    <key>js_operator</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\+|-|\*|\/|=|&gt;|&lt;|&gt;=|&lt;=|&amp;|\||%|!|\^|\(|\))</string>
          <key>name</key>
          <string>keyword.operator.lama2</string>
        </dict>
       </array>
    </dict>
    <key>js_punctuation</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>([.\x{002c}\/\x{0023}\x{0021}\x{0024}\x{0025}\^\x{0026}\*\x{003b}\x{003a}\x{007b}\x{007d}\x{003d}\-_\[\]\x{0060}\x{007e}\x{0028}\x{0029}])</string>
          <key>name</key>
          <string>keyword.operator.lama2</string>
        </dict>
       </array>
    </dict>
    <key>js_storage_type</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(?:\b)(var|let|const)(?:\b)</string>
          <key>name</key>
          <string>storage.type.js.lama2</string>
        </dict>
       </array>
    </dict>
    <key>js_string1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(&quot;)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
          <key>contentName</key>
          <string>text.lama2</string>
          <key>end</key>
          <string>(&quot;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>js_string1__1</key>
    <dict>
      <key>patterns</key>
      <array> 
       </array>
    </dict>
    <key>js_string2</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(&apos;)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
          <key>contentName</key>
          <string>text.lama2</string>
          <key>end</key>
          <string>(&apos;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>js_string2__1</key>
    <dict>
      <key>patterns</key>
      <array> 
       </array>
    </dict>
    <key>js_string3</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\`)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
          <key>contentName</key>
          <string>text.lama2</string>
          <key>end</key>
          <string>(\`)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>js_string3__1</key>
    <dict>
      <key>patterns</key>
      <array> 
       </array>
    </dict>
    <key>js_variable</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(?:\b)([_\x{0024}a-zA-Z\xa0-\x{ffff}][_\x{0024}a-zA-Z0-9\xa0-\x{ffff}]*)(?:\b)</string>
          <key>name</key>
          <string>variable.lama2</string>
        </dict>
       </array>
    </dict>
    <key>json</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\{)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#json__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\})</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>begin</key>
          <string>(\[)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#json__2</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\])</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>(,|\:)</string>
          <key>name</key>
          <string>keyword.operator.lama2</string>
        </dict>
        <dict>
          <key>begin</key>
          <string>(\&quot;)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#json__3</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\&quot;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>((?:\-?(?:0|(?:[1-9][0-9]*)))(?:(?:\.[0-9]*)(?:(?:e|E)(?:\+|\-)[0-9]+)?)?)</string>
          <key>name</key>
          <string>storage.type.lama2</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(true|false|null)</string>
          <key>name</key>
          <string>storage.type.lama2</string>
        </dict>
       </array>
    </dict>
    <key>json__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#json</string>
        </dict>
       </array>
    </dict>
    <key>json__2</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#json</string>
        </dict>
       </array>
    </dict>
    <key>json__3</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>((?:\\u[0-9a-f]{4})|(?:\\[\x{0022}\x{005c}\x{002f}bfnrt]))</string>
          <key>name</key>
          <string>constant.character.escape.lama2</string>
        </dict>
        <dict>
          <key>match</key>
          <string>([^\&quot;\x{005c}]+)</string>
          <key>name</key>
          <string>string.unquoted.lama2</string>
        </dict>
       </array>
    </dict>
    <key>multi_line_comment</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(/\*)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>comment.lama2</string>
            </dict>
          </dict>
          <key>contentName</key>
          <string>comment.lama2</string>
          <key>end</key>
          <string>(\*/)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>comment.lama2</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>multi_line_comment__1</key>
    <dict>
      <key>patterns</key>
      <array> 
       </array>
    </dict>
    <key>numeric</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\b\d+)</string>
          <key>name</key>
          <string>constant.numeric.lama2</string>
        </dict>
       </array>
    </dict>
    <key>preamble</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(GET|POST|PUT|DELETE|get|post|put|delete)</string>
          <key>name</key>
          <string>keyword.lama2</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(MULTIPART|multipart)</string>
          <key>name</key>
          <string>keyword.lama2</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(https?|\$\{.*\})([^\s]+)(?:\b)</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>variable.lama2</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>(\$\{.*\})(.*)(?:\b)</string>
          <key>name</key>
          <string>keyword.operator.lama2</string>
        </dict>
       </array>
    </dict>
    <key>root_javascript</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#js_keywords</string>
        </dict>
       </array>
    </dict>
    <key>root_lama</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#separator</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(#.*)</string>
          <key>name</key>
          <string>comment.lama2</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#preamble</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#json</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#headers</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#varjson</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#files</string>
        </dict>
       </array>
    </dict>
    <key>separator</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(^---$)</string>
          <key>name</key>
          <string>keyword.operator.lama2</string>
        </dict>
       </array>
    </dict>
    <key>varjson</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(.*)(=)([^\x{0023}]+)</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>constant.language.lama2</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
            <key>3</key>
            <dict>
              <key>name</key>
              <string>string.source.lama2</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
  </dict>
</dict>
</plist>
