<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" >
<!-- Generated via Iro -->
<dict>
  <key>fileTypes</key>
  <array> 
    <string>l2</string>
    <string>lama2</string>
   </array>
  <key>name</key>
  <string>lama2</string>
  <key>patterns</key>
  <array> 
    <dict>
      <key>include</key>
      <string>#main</string>
    </dict>
   </array>
  <key>scopeName</key>
  <string>source.lama2</string>
  <key>uuid</key>
  <string></string>
  <key>repository</key>
  <dict>
    <key>main</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(#.*)</string>
          <key>name</key>
          <string>comment.lama2</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#preamble</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#json</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#headers</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#varjson</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#files</string>
        </dict>
       </array>
    </dict>
    <key>files</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(.*)(@)([^\x{0023}]+)</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>constant.language.lama2</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
            <key>3</key>
            <dict>
              <key>name</key>
              <string>string.source.lama2</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>headers</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(.*)(:)([^\x{0023}]+)</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>constant.language.lama2</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
            <key>3</key>
            <dict>
              <key>name</key>
              <string>string.source.lama2</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>json</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\{)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#json__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\})</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>begin</key>
          <string>(\[)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#json__2</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\])</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>(,|\:)</string>
          <key>name</key>
          <string>keyword.operator.lama2</string>
        </dict>
        <dict>
          <key>begin</key>
          <string>(\&quot;)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#json__3</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\&quot;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>((?:\-?(?:0|(?:[1-9][0-9]*)))(?:(?:\.[0-9]*)(?:(?:e|E)(?:\+|\-)[0-9]+)?)?)</string>
          <key>name</key>
          <string>storage.type.lama2</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(true|false|null)</string>
          <key>name</key>
          <string>storage.type.lama2</string>
        </dict>
       </array>
    </dict>
    <key>json__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#json</string>
        </dict>
       </array>
    </dict>
    <key>json__2</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#json</string>
        </dict>
       </array>
    </dict>
    <key>json__3</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>((?:\\u[0-9a-f]{4})|(?:\\[\x{0022}\x{005c}\x{002f}bfnrt]))</string>
          <key>name</key>
          <string>constant.character.escape.lama2</string>
        </dict>
        <dict>
          <key>match</key>
          <string>([^\&quot;\x{005c}]+)</string>
          <key>name</key>
          <string>string.unquoted.lama2</string>
        </dict>
       </array>
    </dict>
    <key>preamble</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(GET|POST|PUT|DELETE|get|post|put|delete)</string>
          <key>name</key>
          <string>keyword.lama2</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(MULTIPART|multipart)</string>
          <key>name</key>
          <string>keyword.lama2</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(https?|\$\{.*\})(.*)</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>variable.lama2</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>varjson</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(.*)(=)([^\x{0023}]+)</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>constant.language.lama2</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>keyword.operator.lama2</string>
            </dict>
            <key>3</key>
            <dict>
              <key>name</key>
              <string>string.source.lama2</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
  </dict>
</dict>
</plist>
